<div class="description">
  <%= "#{@shift.user.firstname} #{@shift.user.lastname}" %><br />
  <%= @shift.location %><br />
  <%= "#{@shift.starttime} - #{@shift.endtime}" %><br />
  <%= @shift.date %><br />
  <%= link_to "Edit shift details", edit_details_path(@shift.id) %>
</div> 

<div class="grid">

  <table>

    <th>
      <% @shift.timespans.each do |t| %>
        <td><%= t.name %></td>
      <% end %>
    </th>
    
    <% @shift.patrontypelist.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <% @shift.timespans.each do |t| %>
          <td><%= @shift.patron_type_occurrences.where("patron_type_id = ? AND timespan_id = ?", p.id,t.id).first.occurrences %></td>
        <% end %>
      </tr>
    <% end %>

    <% @shift.requestcategorylist.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <% @shift.timespans.each do |t| %>
          <td><%= @shift.request_category_occurrences.where("request_category_id = ? AND timespan_id = ?", r.id,t.id).first.occurrences %></td>
        <% end %>
      </tr>
    <% end %>
    
  </table>
</div>
<%= link_to "Update shift report", edit_shift_path(@shift.id) %>
